img{
    width: 100%;
}

.btn{
    border: 1px solid black;
    padding: 10px 20px;
    margin-right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.back-btn{
    margin: 40px 0;
}

:host-context( .light ) button{
    background-color: var(--l-bg)!important;
    color: var(--l-text);
}

:host-context( .dark ) button{
    background-color: var(--d-bg)!important;
    color: var(--d-text);
}
